<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hiragana, Katakana, Roman Translation</title>
    <link rel="stylesheet" href="table.css">
</head>
    <table>
        <tr>
            <th class="spine" rowspan="2" colspan="3">子音</th>
            <th class="head" colspan="3">a</th>
            <th class="head" colspan="3">k</th>
            <th class="head" colspan="3">s</th>
            <th class="head" colspan="3">t</th>
            <th class="head" colspan="3">n</th>
            <th class="head" colspan="3">h</th>
            <th class="head" colspan="3">m</th>
            <th class="head" colspan="3">y</th>
            <th class="head" colspan="3">r</th>
            <th class="head" colspan="3">w</th>
            <th class="head" rowspan="2" colspan="3">撥音</th>
        </tr>
        <tr>
            <th class="head" colspan="3">あ行</th>
            <th class="head" colspan="3">か行</th>
            <th class="head" colspan="3">さ行</th>
            <th class="head" colspan="3">た行</th>
            <th class="head" colspan="3">な行</th>
            <th class="head" colspan="3">は行</th>
            <th class="head" colspan="3">ま行</th>
            <th class="head" colspan="3">や行</th>
            <th class="head" colspan="3">ら行</th>
            <th class="head" colspan="3">わ行</th>
        </tr>
        <tr id="thirdrow">
            <th class="spine" colspan="3">母音</th>
            <th class="hira">Hiragana</th>
            <th class="kata">Katagana</th>
            <th class="roman">Roman</th>
            <th class="hira">Hiragana</th>
            <th class="kata">Katagana</th>
            <th class="roman">Roman</th>
            <th class="hira">Hiragana</th>
            <th class="kata">Katagana</th>
            <th class="roman">Roman</th>
            <th class="hira">Hiragana</th>
            <th class="kata">Katagana</th>
            <th class="roman">Roman</th>
            <th class="hira">Hiragana</th>
            <th class="kata">Katagana</th>
            <th class="roman">Roman</th>
            <th class="hira">Hiragana</th>
            <th class="kata">Katagana</th>
            <th class="roman">Roman</th>
            <th class="hira">Hiragana</th>
            <th class="kata">Katagana</th>
            <th class="roman">Roman</th>
            <th class="hira">Hiragana</th>
            <th class="kata">Katagana</th>
            <th class="roman">Roman</th>
            <th class="hira">Hiragana</th>
            <th class="kata">Katagana</th>
            <th class="roman">Roman</th>
            <th class="hira">Hiragana</th>
            <th class="kata">Katagana</th>
            <th class="roman">Roman</th>
            <th class="hira">Hiragana</th>
            <th class="kata">Katagana</th>
            <th class="roman">Roman</th>
        </tr>
            <th class="spine" colspan="2">あ段</th>
            <th class="spine">a</th>
            <td class="hira">あ</td>
            <td class="kata">ア</td>
            <td class="roman">a</td>
            <td class="hira">か</td>
            <td class="kata">カ</td>
            <td class="roman">ka</td>
            <td class="hira">さ</td>
            <td class="kata">サ</td>
            <td class="roman">sa</td>
            <td class="hira">た</td>
            <td class="kata">タ</td>
            <td class="roman">ta</td>
            <td class="hira">な</td>
            <td class="kata">ナ</td>
            <td class="roman">na</td>
            <td class="hira">は</td>
            <td class="kata">ハ</td>
            <td class="roman">ha</td>
            <td class="hira">ま</td>
            <td class="kata">マ</td>
            <td class="roman">ma</td>
            <td class="hira">や</td>
            <td class="kata">ヤ</td>
            <td class="roman">ya</td>
            <td class="hira">ら</td>
            <td class="kata">ラ</td>
            <td class="roman">ra</td>
            <td class="hira">わ</td>
            <td class="kata">ワ</td>
            <td class="roman">wa</td>
            <td rowspan="0" class="hira">ん</td>
            <td rowspan="0" class="kata">ン</td>
            <td rowspan="0" class="roman">n</td>
        </tr>
        <tr>
            <th class="spine" colspan="2">い段</th>
            <th class="spine">i</th>
            <td class="hira">い</td>
            <td class="kata">イ</td>
            <td class="roman">i</td>
            <td class="hira">き</td>
            <td class="kata">キ</td>
            <td class="roman">ki</td>
            <td class="hira">し</td>
            <td class="kata">シ</td>
            <td class="roman">shi</td>
            <td class="hira">ち</td>
            <td class="kata">チ</td>
            <td class="roman">chi</td>
            <td class="hira">に</td>
            <td class="kata">ニ</td>
            <td class="roman">ni</td>
            <td class="hira">ひ</td>
            <td class="kata">ヒ</td>
            <td class="roman">hi</td>
            <td class="hira">み</td>
            <td class="kata">ミ</td>
            <td class="roman">mi</td>
            <td class="blank" colspan="3"></td>
            <td class="hira">り</td>
            <td class="kata">リ</td>
            <td class="roman">ri</td>
            <td class="blank" colspan="3"></td>
        <tr>
        <tr>
            <th class="spine" colspan="2">う段</th>
            <th class="spine">u</th>
            <td class="hira">う</td>
            <td class="kata">ウ</td>
            <td class="roman">u</td>
            <td class="hira">く</td>
            <td class="kata">ク</td>
            <td class="roman">ku</td>
            <td class="hira">す</td>
            <td class="kata">ス</td>
            <td class="roman">su</td>
            <td class="hira">つ</td>
            <td class="kata">ツ</td>
            <td class="roman">tsu</td>
            <td class="hira">ぬ</td>
            <td class="kata">ヌ</td>
            <td class="roman">nu</td>
            <td class="hira">ふ</td>
            <td class="kata">フ</td>
            <td class="roman">fu</td>
            <td class="hira">む</td>
            <td class="kata">ム</td>
            <td class="roman">mu</td>
            <td class="hira">ゆ</td>
            <td class="kata">ユ</td>
            <td class="roman">yu</td>
            <td class="hira">る</td>
            <td class="kata">ル</td>
            <td class="roman">ru</td>
            <td class="blank" colspan="3"></td>

        <tr>
        <tr>
            <th class="spine" colspan="2">え段</th>
            <th class="spine">e</th>
            <td class="hira">え</td>
            <td class="kata">エ</td>
            <td class="roman">e</td>
            <td class="hira">け</td>
            <td class="kata">ケ</td>
            <td class="roman">ke</td>
            <td class="hira">せ</td>
            <td class="kata">セ</td>
            <td class="roman">se</td>
            <td class="hira">て</td>
            <td class="kata">テ</td>
            <td class="roman">te</td>
            <td class="hira">ね</td>
            <td class="kata">ネ</td>
            <td class="roman">ne</td>
            <td class="hira">へ</td>
            <td class="kata">ヘ</td>
            <td class="roman">he</td>
            <td class="hira">め</td>
            <td class="kata">メ</td>
            <td class="roman">me</td>
            <td class="blank" colspan="3"></td>
            <td class="hira">れ</td>
            <td class="kata">レ</td>
            <td class="roman">re</td>
            <td class="blank" colspan="3"></td>
        <tr>
        <tr>
            <th class="spine" colspan="2">お段</th>
            <th class="spine">o</th>
            <td class="hira">お</td>
            <td class="kata">オ</td>
            <td class="roman">o</td>
            <td class="hira">こ</td>
            <td class="kata">コ</td>
            <td class="roman">ko</td>
            <td class="hira">そ</td>
            <td class="kata">ソ</td>
            <td class="roman">so</td>
            <td class="hira">と</td>
            <td class="kata">ト</td>
            <td class="roman">to</td>
            <td class="hira">の</td>
            <td class="kata">ノ</td>
            <td class="roman">no</td>
            <td class="hira">ほ</td>
            <td class="kata">ホ</td>
            <td class="roman">ho</td>
            <td class="hira">も</td>
            <td class="kata">モ</td>
            <td class="roman">mo</td>
            <td class="hira">よ</td>
            <td class="kata">ヨ</td>
            <td class="roman">yo</td>
            <td class="hira">ろ</td>
            <td class="kata">ロ</td>
            <td class="roman">ro</td>
            <td class="hira">を</td>
            <td class="kata">ヲ</td>
            <td class="roman">wo</td>
        <tr>
    </table>
    <a href="/">back to homepage</a>
</body>
</html>